.home-page {
  .welcome-text {
    font-size: 30px;
    text-align: center;
    margin-top: 16px;
  }

  .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 240px;
    left: 0;
    background-image: url("../assets/home2.png");
    background-size: contain;
  }
}
