.sign-in-footer {
    text-align: center;
  }

  .footer {
    font-size: 12px;
    font-weight: 400;
    color: grey;

    a {
      text-decoration: none;
    }
  }

  .footer-bottom {
    margin-bottom: 14px;
  }

  .divider {
    width: 90px;
    height: 0.5px;
    margin: 10px auto;
    background-color: rgb(228, 228, 228);
  }